<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="about container">
        <h2>About Us</h2>
        <p>Vestibulum tristique diam quis orci ultricies suscipit. Cras fringilla, nisl quis viverra ultrices, augue magna suscipit magna, non vestibulum neque neque in ante. Maecenas accumsan turpis vel nisi tincidunt egestas id quis diam. Ut dapibus rhoncus metus. Ut feugiat venenatis purus in volutpat. Sed maximus sit amet elit et condimentum. Integer a lacinia est.</p>
        <p>Vestibulum tristique diam quis orci ultricies suscipit. Cras fringilla, nisl quis viverra ultrices, augue magna suscipit magna, non vestibulum neque neque in ante. Maecenas accumsan turpis vel nisi tincidunt egestas id quis diam. Ut dapibus rhoncus metus. Ut feugiat venenatis purus in volutpat. Sed maximus sit amet elit et condimentum. Integer a lacinia est.</p>
        <p>Vestibulum tristique diam quis orci ultricies suscipit. Cras fringilla, nisl quis viverra ultrices, augue magna suscipit magna, non vestibulum neque neque in ante. Maecenas accumsan turpis vel nisi tincidunt egestas id quis diam. Ut dapibus rhoncus metus. Ut feugiat venenatis purus in volutpat. Sed maximus sit amet elit et condimentum. Integer a lacinia est.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>