<nav class="container">
    <div class="site-header">
        <a href="/"><h1>Blog Burrito</h1></a>
        <p>A Frozen Burrito Site</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Post</a></li>
    </ul>
</nav>