<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="create-blog container">
        <h2>Create A New Post</h2>
        <form>
            <label for="title">Title</label>
            <input type="text" id="title" required>

            <label for="snippet">Snippet</label>
            <input type="text" id="snippet" required>

            <label for="body">Body</label>
            <textarea id="body" required></textarea>

            <button>Post</button>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>